<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aulalabprogiii">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminCriarGrupo"></activity>
        <activity android:name=".AdminListaConversas" />
        <activity android:name=".AdminCadastrarUsuario"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".AdminAlterarUsuario"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".AdminAlterarGrupo" />
        <activity android:name=".AdminListarGrupos" />
        <activity android:name=".AdminListarUsuarios" />
        <activity android:name=".MensagensSalvas"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".EnviarMensagemSalva"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".EnviarMensagemDireto"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ChatUsuario"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TelaLogin"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ListaConversas" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>